:root {
    font-size: 62.5%;
    --main-font: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --head-font: "Norse", sans-serif;
    --main-color: #005274;
}

@font-face {
    font-family: Norse;
    src: url(assets/norse-bold.otf);
}

/**** ELEMENT ****/

body {
    margin: 0;
    font-family: var(--main-font);
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#e8a66d), color-stop(20%, #e07773), color-stop(30%, #6b4a77), color-stop(35%, #005575), color-stop(50%, #013356), color-stop(70%, #00233f), color-stop(85%, #030a19));
    background: -o-linear-gradient(top, #e8a66d, #e07773 20%, #6b4a77 30%, #005575 35%, #013356 50%, #00233f 70%, #030a19 85%);
    background: linear-gradient(to bottom, #e8a66d, #e07773 20%, #6b4a77 30%, #005575 35%, #013356 50%, #00233f 70%, #030a19 85%);
}

@media (min-width: 750px) {
    main {
        background: url("assets/images/background.jpg");
        background-position: top right;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (min-width: 1250px) {
    main {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        background: none;
    }
}

/**** FIRST SECTION ****/

section:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    text-align: center;
}

section:first-child > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
    font-family: var(--head-font);
    font-size: 5rem;
}

section:first-child p {
    display: none;
}

section:first-child a {
    color: #fff;
}

section:first-child img {
    height: 12rem;
}

@media (min-width: 750px) {
    section:first-child > div {
        gap: 3rem;
        font-size: 6rem;
    }

    section:first-child img {
        height: 15rem;
    }
}

@media (min-width: 1250px) {
    section:first-child {
        height: 100vh;
        width: min(35%, 60rem);
        background: url("assets/images/background.jpg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    section:first-child > div {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
        padding: 3rem 0;
        background-color: rgba(0, 0, 0, 0.35);
    }

    section:first-child h1 {
        margin: 0;
    }

    section:first-child p {
        position: absolute;
        bottom: 5rem;
        display: block;
        font-size: 2rem;
    }
}

@media (min-width: 1500px) {
    section:first-child > div {
        gap: 4rem;
        font-size: 8rem;
    }

    section:first-child img {
        height: 17rem;
    }
}

/**** LAST SECTION ****/

section:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 85%;
    margin: 2rem 0;
    background-color: #f9fbfe;
    border-radius: 2rem;
}

section:last-child > div {
    padding-left: 2.5rem;
}

@media (min-width: 1250px) {
    section:last-child {
        height: 100vh;
        width: 100%;
        margin: 0;
    }

    section:last-child > div {
        padding: 1rem 4rem;
    }
}

@media (min-width: 1500px) {
    section:last-child > div {
        padding: 1rem 7rem;
    }
}

section:last-child > div:first-child {
    font-size: 1.7rem;
    font-weight: 600;
}

section:last-child div:first-child p {
    width: 85%;
}

@media (min-width: 750px) {
    section:last-child > div:first-child {
        font-size: 1.8rem;
    }
}

@media (min-width: 1000px) {
    section:last-child > div:first-child {
        font-size: 2rem;
    }
}

@media (min-width: 1250px) {
    section:last-child > div:first-child {
        font-size: 2.2rem;
    }
}

section:last-child > div:nth-child(2) {
    background-color: white;
}

section:last-child form {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(1, 85%);
    grid-auto-flow: row;
    row-gap: 2rem;
}

section:last-child form div {
    position: relative;
    height: 6rem;
    width: 100%;
    border-bottom: #b1b2b4 2px solid;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

section:last-child .focus-div {
    background-color:#eff0f2;
    border-bottom: var(--main-color) 2px solid;
    border-radius: 5px;
}

section:last-child .invalid-div {
    border: 0;
    border-radius: 5px;
    outline: 2px red solid;
}

section:last-child input {
    position: absolute;
    bottom: .3rem;
    left: .8rem;
    width: 82%;
    padding: 0;
    background-color: transparent;
    font-family: var(--main-font);
    font-size: 1.65rem;
    border: none;
}

section:last-child input[type="tel"] {
    font-size: 1.65rem;
}

section:last-child input:focus {
    border: 0;
    outline: 0;
}

section:last-child label {
    position: absolute;
    bottom: .3rem;
    left: .8rem;
    width: 100%;
    font-size: 1.8rem;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

section:last-child .focus-label {
    bottom: 3.3rem;
    font-size: 1.3rem;
}

section:last-child input:valid + .valid {
    position: absolute;
    bottom: .3rem;
    right: .7rem;
    display: inline-block;
    color: green !important;
    font-size: 1.8rem;
    font-weight: bold;
}

section:last-child input:invalid + .valid {
    display: none;
}

section:last-child .invalid-div .invalid {
    position: absolute;
    right: .5rem;
    bottom: .3rem;
    display: inline-block;
    height: 2rem;
    fill: red;
}

section:last-child .invalid {
    display: none;
}

section:last-child .toggle {
    position: absolute;
    bottom: 0;
    right: .4rem;
    display: inline-block;
    height: 2rem;
    fill: rgb(117, 117, 117);
    cursor: pointer;
}

section:last-child .invalid-div .toggle {
    display: none !important;
}

section:last-child .optional {
    font-size: 1rem;
}

section:last-child h2 {
    font-size: 2.4rem;
}

@media (min-width: 750px) {
    section:last-child form {
        -ms-grid-columns: min(45%, 45rem) 3rem min(45%, 45rem);
        grid-template-columns: repeat(2, min(45%, 45rem));
        grid-auto-flow: row;
        -webkit-column-gap: 3rem;
           -moz-column-gap: 3rem;
                column-gap: 3rem;
        row-gap: 3rem;
    }
}

@media (min-width: 1000px) {
    section:last-child input {
        width: 88%;
        font-size: 1.8rem;
    }

    section:last-child input[type="tel"] {
        font-size: 1.8rem;
    }

    section:last-child label {
        font-size: 1.9rem;
    }

    section:last-child input:valid + .valid {
        font-size: 2rem;
    }

    section:last-child .toggle {
        height: 2.2rem;
    }

    section:last-child .optional {
        font-size: 1.2rem;
    }

    section:last-child h2 {
        font-size: 2.6rem;
    }
}

@media (min-width: 1250px) {
    section:last-child form div {
        height: 6.5rem;
    }

    section:last-child input {
        bottom: .35rem;
        left: .85rem;
        font-size: 2rem;
    }

    section:last-child input[type="tel"] {
        font-size: 2rem;
    }

    section:last-child label {
        bottom: .35rem;
        left: .85rem;
        font-size: 2.1rem;
    }

    section:last-child .focus-label {
        font-size: 1.4rem;
        bottom: 3.8rem;
    }

    section:last-child input:valid + .valid {
        bottom: .35rem;
        right: .8rem;
        font-size: 2.2rem;
    }

    section:last-child .invalid-div .invalid {
        bottom: .55rem;
        right: .55rem;
        height: 2.1rem;
    }

    section:last-child .toggle {
        bottom: .15rem;
        right: .55rem;
        height: 2.5rem;
    }

    section:last-child .optional {
        font-size: 1.35rem;
    }

    section:last-child h2 {
        font-size: 3rem;
    }
}

@media (min-width: 1500px) {
    section:last-child h2 {
        font-size: 3.2rem;
    }

    section:last-child .toggle {
        right: .6rem;
    }
}

section:last-child > div:last-child {
    margin-top: 3rem;
    font-size: 1.7rem;
}

section:last-child > div:last-child p {
    width: 85%;
}

section:last-child button {
    padding: 1rem 3rem;
    color: white;
    background-color: var(--main-color);
    font-family: var(--main-font);
    font-size: 1.8rem;
    border: 0;
    border-radius: .5rem;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

section:last-child button:hover {
    background-color: #023f59;
}

section:last-child div:last-child p:first-child {
    font-size: 1.4rem;
}

section:last-child a {
    color: inherit;
}

section:last-child a:only-child {
    color: var(--main-color);
    font-weight: 700;
    text-decoration: none;
}

@media (min-width: 750px) {
    section:last-child > div:last-child {
        margin-top: 3.5rem;
        font-size: 1.8rem;
    }

    section:last-child button {
        font-size: 2rem;
    }

    section:last-child div:last-child p:first-child {
        font-size: 1.5rem;
    }
}

@media (min-width: 1000px) {
    section:last-child > div:last-child {
        margin-top: 3.5rem;
        font-size: 2rem;
    }

    section:last-child button {
        font-size: 2.2rem;
    }

    section:last-child div:last-child p:first-child {
        font-size: 1.6rem;
    }
}

@media (min-width: 1250px) {
    section:last-child > div:last-child {
        margin-top: 1rem;
        font-size: 2.2rem;
    }

    section:last-child button {
        padding: 1.5rem 3.5rem;
        font-size: 2.4rem;
    }

    section:last-child div:last-child p:first-child {
        font-size: 1.8rem;
    }
}