
:root {
    --reg: rgb(28, 130, 246);
    --add: rgb(25, 173, 25);
    --delete: rgb(204, 18, 18);
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    font-size: 62.5%;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

button, input, select {
    font-family: inherit;
    font-size: 1rem;
    border: 1px solid #000;
    border-radius: .3rem;
}

button {
    color: #fff;
    cursor: pointer;
}

input {
    transition: outline .1s, border .1s;
}

input:focus, input:active {
    outline: 2px solid var(--reg);
    border: 1px solid transparent;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.3rem;
}

/**** HEADER ****/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(232, 230, 227);
}

header div:first-of-type {
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

header div:first-of-type button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: .5rem;
}

header div:last-of-type {
    position: relative;
    display: flex;
    gap: 1rem;
    padding: 2rem;
}

header select, header input {
    padding: .5rem;
    background-color: #fff;
}

header input {
    width: clamp(5rem, 50vw, 50rem);
}

header button.search, header button.return {
    width: 5rem;
}

header h1 {
    margin: 3rem 0;
}

/**** MAIN ****/

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(3, .5fr);
    grid-auto-flow: row;
    width: min(80%, 75rem);
    margin: 0 auto;
}

main div:not(.book-container) {
    position: relative;
    margin-top: 3rem;
}

main span.material-symbols-outlined {
    position: absolute;
    right: 3rem;
    font-size: 2.8rem;
    height: 15px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: font-size .15s;
    cursor: pointer;
}

main div:nth-child(4) span.material-symbols-outlined {
    right: 0;
}

main span.material-symbols-outlined:hover {
    font-size: 3.5rem;
}

main span.focus {
    color: var(--reg);
}

main span:not(.focus):hover {
    color: var(--reg);
}

main div:hover > span.focus:not(:hover) {
    color: #000;
}

main span.up {
    top: -.4rem;
}

main span.down {
    top: 1.4rem;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(3, .5fr);
    grid-area: span 1 / span 5;
    justify-items: flex-start;
    align-items: center;
    padding: 1rem 0;
}

.book-container:not(:last-child) {
    border-bottom: 1px solid #000;
}

.book-container button.delete {
    padding: .3rem 1.3rem;
    justify-self: flex-end;
}

.book-container input[type="date"] {
    padding: .3rem 0rem;
}

.book-container input {
    padding-left: .25rem;
}

.book-container p {
    display: inline-block;
    margin: 0;
    font-size: 1rem;
    width: 80%;
    cursor: pointer;
    padding-left: .3rem;
}

.book-container button:not(.selected) + p {
    cursor: default;
}

/* .book-container button:not(.selected) + p, .book-container button:not(.selected) + input {
    height: 0;
    width: 0;
    font-size: 0;
    padding: 0;
}

.book-container p:empty {
    height: 100%;
} */

main h2 {
    margin-top: 0;
}

main h2:nth-child(-n + 2) {
    padding-left: .3rem;
}

/**** OVERLAYS ****/

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .4);
    z-index: 1;
}

.overlay form, 
.overlay .success-message, 
.overlay .fail-message, 
.overlay .warning-message {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    min-height: 10rem;
    width: min(80%, 50rem);
    padding: 3rem 0;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 2rem;
}

.overlay button {
    padding: .5rem 1rem;
}

.overlay label, .overlay p {
    font-size: 1.2rem;
    margin: 0 0 .5rem 0;
}

.overlay h1 {
    margin: 0;
}

.overlay span.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

.overlay span.close:hover {
    background-color: var(--reg);
    color: #fff;
}

.add-overlay form {
    min-height: 25rem;
}

.add-overlay .success-message, .add-overlay .fail-message {
    display: none;
}

.add-overlay form > div {
    position: relative;
    width: max(70%, 10rem);
}

.add-overlay .input-container {
    display: flex;
    flex-direction: column;
}

.add-overlay form div:not([class^="input-container"]) {
    display: flex;
    gap: 2rem;
}

.add-overlay .date-container {
    opacity: 0;
}

.add-overlay input {
    padding: .5rem 2.6rem .5rem .5rem;
}

.add-overlay span.clear {
    position: absolute;
    top: 2.35rem;
    right: .35rem;
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.remove-overlay .warning-message div {
    display: flex;
    gap: 2rem;
}

.fail-message h1, .warning-message h1 {
    color: var(--delete);
}

.success-message h1 {
    color: var(--add);
}

/**** BUTTONS ****/

button.add {
    background-color: var(--add);
}

button.delete {
    background-color: var(--delete);
}

button.search, button.return {
    background-color: var(--reg);
}

button.read {
    position: relative;
    display: inline-block;
    height: 2rem;
    width: 4rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.slider {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: #ccc;
    border-radius: 3rem; 
}

.slider .circle {
    position: absolute; 
    left: .25rem; 
    height: 1.5rem; 
    width: 1.5rem;
    background-color: #fff; 
    border-radius: 50%;
    transition: 0.3s;
}

.selected .slider {
    background-color: var(--reg); 
}

.selected .circle {
    transform: translateX(1.95rem); 
}