
:root {
    --reg: rgb(28, 130, 246);
    --add: rgb(25, 173, 25);
    --delete: rgb(204, 18, 18);
    --background-color: rgb(232, 230, 227);
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    overflow-x: hidden;
}

button, input, select {
    font-family: inherit;
    font-size: 1.6rem;
    border: 1px solid #000;
    border-radius: .7rem;
}

button {
    color: #fff;
    cursor: pointer;
}

input {
    transition: outline .1s, border .1s;
}

input:focus, input:active {
    outline: 2px solid var(--reg);
    border: 1px solid transparent;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 2.1rem;
}

@media (max-width: 600px) {
    html {
        font-size: 55%;
    }
}

/**** HEADER ****/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
}

header > div:first-of-type {
    display: flex;
    gap: 3rem;
    margin: 2rem;
}

header > div:first-of-type button {
    padding: 1.5rem 3rem;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 1rem;
}

header > div:last-of-type {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 3rem;
}

header > div:last-of-type div {
    display: flex;
    gap: 2rem;
}

header select, header input {
    padding: .8rem;
    background-color: #fff;
}

header input {
    width: clamp(20rem, 55vw, 70rem);
}

header button.search, header button.return {
    width: 8rem;
    height: 4rem;
}

header h1 {
    margin: 5rem 1.5rem 4.5rem;
    text-align: center;
}

@media (max-width: 400px) {
    header > div:first-of-type {
        flex-direction: column;
        gap: 2rem;
    }

    header h1 {
        font-size: 3.8rem;
    }
}

/**** MAIN ****/

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(3, .5fr);
    grid-auto-flow: row;
    width: min(80%, 120rem);
    margin: 5rem auto;
}

.header-container {
    position: relative;
}

.header-container:nth-child(-n + 2) {
    margin-left: .87rem;
}

.header-container span {
    position: absolute;
    right: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 20px;
    font-size: 4.8rem;
    transition: font-size .15s;
    cursor: pointer;
}

.header-container:nth-child(4) span {
    right: 0;
}

.header-container span:hover {
    font-size: 6rem;
}

.header-container span.focus {
    color: var(--reg);
}

.header-container span:not(.focus):hover {
    color: var(--reg);
}

.header-container div:hover > span.focus:not(:hover) {
    color: #000;
}

.header-container span.up {
    top: -.8rem;
}

.header-container span.down {
    top: 2rem;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(3, .5fr);
    grid-area: span 1 / span 5;
    justify-items: flex-start;
    align-items: center;
    padding: 1.5rem 0;
}

.book-container:not(:last-child) {
    border-bottom: 1px solid #000;
}

.book-container input {
    padding: .4rem .8rem;
}

.book-container button.delete {
    padding: .5rem 2rem;
    justify-self: flex-end;
}

.book-container button:not(.selected) + p {
    cursor: default;
}

.book-container p {
    display: inline-block;
    width: 80%;
    margin: 0;
    margin: .7rem .87rem;
    font-size: 1.6rem;
    word-break: break-all;
    cursor: pointer;
}

main h2 {
    margin-top: 0;
}

@media (max-width: 1100px) {
    main, .book-container {
        grid-template-columns: repeat(5, 1fr);
    }

    .book-container input {
        width: 80%;
    }

    .header-container:nth-child(3) {
        margin-left: 2rem;
    }

    .header-container span {
        right: 1rem;
    }

    .book-container .read {
        margin-left: 2rem;
    }
}

@media (max-width: 800px) {
    main {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 2.5rem 1.5rem;
    }

    .header-container {
        margin-left: 1rem;
    }

    .header-container:nth-child(-n + 2) {
        margin-left: 1rem;
    }

    .header-container:nth-child(3) {
        margin-left: 1rem;
    }

    .header-container:nth-child(4) span {
        right: 1rem;
    }

    .header-container:nth-child(5) {
        display: none;
    }

    .book-container {
        grid-area: span 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-items: flex-start;
        gap: 1.5rem;
        padding: 1rem;
        border: solid 2px #000;
        border-radius: .5rem;
    }

    .book-container:not(:last-child) {
        border-bottom: solid 2px #000;
    }

    .book-container .read {
        margin-left: 0;
    }

    .book-container p {
        margin: .37rem .67rem;
        width: 90%;
    }

    .book-container input {
        padding: .3rem .6rem;
        width: 90%;
    }
}

@media (max-width: 800px) and (min-width: 600px) {
    .header-container:nth-child(3) {
        text-align: center;
    }
    .header-container:nth-child(4) {
        grid-column: 1 / -1;
    }

    .header-container:nth-child(4) span {
        left: 15rem;
    }
}

/**** OVERLAYS ****/

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .4);
    z-index: 1;
}

.overlay form, 
.overlay .success-message, 
.overlay .fail-message, 
.overlay .warning-message {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    min-height: 20rem;
    width: min(80%, 70rem);
    padding: 6.5rem 4rem;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 3rem;
    box-sizing: border-box;
}

.overlay button {
    padding: 1rem 2rem;
}

.overlay label, .overlay p {
    font-size: 1.6rem;
    margin: 0 0 1rem 0;
}

.overlay h1 {
    margin: 0;
    text-align: center;
}

.overlay span.close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 4rem;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

.overlay span.close:hover {
    background-color: var(--reg);
    color: #fff;
}

.add-overlay form {
    min-height: 35rem;
}

.add-overlay .success-message, .add-overlay .fail-message {
    display: none;
}

.add-overlay form > div {
    position: relative;
    width: max(80%, 15rem);
}

.add-overlay .input-container {
    display: flex;
    flex-direction: column;
}

.add-overlay form div:not([class^="input-container"]) {
    display: flex;
    gap: 2rem;
}

.add-overlay .date-container {
    opacity: 0;
}

.add-overlay input {
    padding: .8rem 4rem .8rem 1rem;
}

.add-overlay span.clear {
    position: absolute;
    top: 3.3rem;
    right: .35rem;
    display: none;
    font-size: 3.5rem;
    cursor: pointer;
}

.remove-overlay .warning-message div {
    display: flex;
    gap: 2rem;
}

.fail-message h1, .warning-message h1 {
    color: var(--delete);
}

.success-message h1 {
    color: var(--add);
}

@media (max-width: 500px) {
    .overlay h1 {
        font-size: 3.5rem;
    }

    .add-overlay form div:not([class^="input-container"]) {
        flex-direction: column;
    }

    .add-overlay input[type="date"] {
        padding: .5rem 1rem .5rem .5rem;
      }
}

/**** BUTTONS ****/

button.add {
    background-color: var(--add);
}

button.delete {
    background-color: var(--delete);
}

button.search, button.return {
    background-color: var(--reg);
}

button.read {
    position: relative;
    display: inline-block;
    height: 3.5rem;
    width: 7rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.slider {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: #ccc;
    border-radius: 3rem; 
}

.slider .circle {
    position: absolute; 
    left: .5rem; 
    height: 2.5rem; 
    width: 2.5rem;
    background-color: #fff; 
    border-radius: 50%;
    transition: 0.3s;
}

.selected .slider {
    background-color: var(--reg); 
}

.selected .circle {
    transform: translateX(3.3rem); 
}