/* Webfont: Kaiven-Regular */@font-face {
    font-family: 'Kaiven';
    src: url('Kaiven-RegularRounded.woff2') format('woff2'), /* Modern Browsers */
         url('Kaiven-RegularRounded.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

