@use 'var';

.contact {
    font-size: 1.5rem;

    .reserve-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        width: 80%;

        .row-container {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            width: 100%;
        }

        h2 {
            align-self: center;
        }

        label {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 1.5rem;

            input, textarea {
                padding: .5rem;
                margin-top: .5rem;
                font-size: 1.5rem;
                font-family: var.$main-font;

                &:focus {
                    outline: 1.5px solid var.$second-color;
                }
            }

            textarea {
                width: clamp(20rem, 80%, 25rem);
                height: 5rem;
                resize: vertical;
            }
        }

        button {
            padding: 1rem 1.5rem;
            font-size: inherit;
            font-family: inherit;
            color: #fff;
            background-color: var.$second-color;
            border: none;
            border-radius: .5rem;
            margin-bottom: 5rem;
            transition: transform .2s;

            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
        }
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        width: 80%;

        a {
            color: inherit;
            transition: color .2s;

            &:hover {
                color: var.$second-color;
            }
        }
    }

    .address-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin-bottom: 5rem;

        iframe {
            width: 80%;
            height: auto;
            margin-top: 2rem;
            border: none;
        }
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2rem;
        margin: 0;
    }
}

@media (min-width: 450px) {
    .contact {
        font-size: 1.8rem;

        .reserve-container {
            gap: 2rem;
            width: auto;

            .row-container {
                gap: 2rem;
            }

            label {
                font-size: 1.7rem;

                input, textarea {
                    padding: .5rem;
                    margin-top: .6rem;
                    font-size: 1.6rem;

                    &:focus {
                        outline: 2px solid var.$second-color;
                    }
                }

                textarea {
                    width: clamp(25rem, 80%, 35rem);
                    height: 8rem;
                }
            }
        }

        .address-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            margin-bottom: 5rem;

            iframe {
                max-width: 35rem;
                height: 30rem;
            }
        }

        h2 {
            font-size: 4.5rem;
        }

        h3 {
            font-size: 2.4rem;
        }
    }
}

@media (min-width: 750px) {
    .contact {
        font-size: 2.1rem;

        .reserve-container {
            gap: 2.5rem;

            .row-container {
                flex-direction: row;
                gap: 2.5rem;
            }

            label {
                font-size: 2rem;

                input, textarea {
                    font-size: 1.7rem;
                }

                textarea {
                    width: 40rem;
                }
            }
        }

        h2 {
            font-size: 5rem;
        }

        h3 {
            font-size: 2.8rem;
        }
    }
}