@use 'var';

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: var.$main-font;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7rem;
    color: #000;
    background-color: var.$background-color;
    text-align: center;
    z-index: 1;

    .logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            height: 3rem;
            margin: 2rem 0 .5rem;
        }

        h1 {
            margin: 0;
            font-size: 2.1rem;
        }
    }

    nav {
        display: flex;
        gap: 1.2rem;
        font-size: 1.8rem;
        margin: 1.5rem 0;

        a {
            position: relative;
            text-decoration: none;
            color: inherit;

            &::after {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                height: 2px;
                width: 0;
                background-color: var.$second-color;
                border-radius: 5rem;
                transition: width .3s;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }
}

@media (min-width: 450px) {
    header {
        gap: 1.5rem;

        .logo-container {
            img {
                height: 4rem;
            }
    
            h1 {
                font-size: 2.6rem;
            }
        }

        nav {
            gap: 2.1rem;
            font-size: 2.4rem;
            margin: 1.7rem 0;
    
            a::after {
                height: 2.5px;
            }
        }
    }
}

@media (min-width: 750px) {
    header {
        gap: 2rem;

        .logo-container {
            img {
                height: 4.5rem;
            }
    
            h1 {
                font-size: 3.1rem;
            }
        }

        nav {
            gap: 3.5rem;
            font-size: 2.8rem;
            margin: 2rem 0;
    
            a::after {
                height: 3px;
            }
        }
    }
}

main {
    //position: relative;
    // display: flex;
    // flex-grow: 100;

    .content-container {
        //position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;

        .background-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var.$background-color;
        }

        .image-container {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var.$background-color;
            width: 100%;
            height: 40rem;
            color: #fff;
            z-index: -1;

            img {
                position: absolute;
                top: -10%;
                height: 120%;
                z-index: -2;
            }

            h1 {
                font-size: 5rem;
                margin: 0 4rem;
            }
        }
    }

    .divider {
        width: 80%;
        height: 2px;
        background-color: var.$second-color;
    }
}

@media (min-width: 450px) {
    main {
        .content-container {
            .image-container {
                h1 {
                    font-size: 6rem;
                }
            }
        }
    }
}

@media (min-width: 600px) {
    main {
        .content-container {
            .image-container {
                img {
                    right: 0;
                    left: 0;
                    height: auto;
                    width: 100%;
                }
            }
        }
    }
}

@media (min-width: 750px) {
    main {
        .content-container {
            .image-container {
                h1 {
                    font-size: 7rem;
                }
            }
        }
    }
}

@media (min-width: 950px) {
    main {
        .content-container {
            .image-container {
                position: static;
                height: 50rem;

                img {
                    top: 10%;
                }
            }
        }
    }
}

@media (min-width: 1050px) {
    main {
        .content-container {
            .image-container {
                height: 60rem;

                h1 {
                    font-size: 8rem;
                }
            }
        }

        .divider {
            width: min(65%, 135rem);
        }
    }
}

@media (min-width: 1200px) {
    main {
        .content-container {
            .image-container {
                img {
                    top: 0;
                }
            }
        }
    }
}

@media (min-width: 1600px) {
    main {
        .content-container{
            .image-container {
                height: 80rem;
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-color: #000;

    & > div {
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 1rem 0;
        text-align: center;
        font-size: 1.5rem;

        &:first-child {
            justify-content: space-between;

            img {
                height: 3.5rem;
                margin: 1rem 1rem 1rem 0;
                cursor: pointer;
            }
        }

        h3 {
            font-size: 2.1rem;
            margin: 1rem 0;
        }

        p {
            margin: .5rem 0;
        }
    }

    & > .divider {
        height: 1.5px;
        width: 80%;
        background-color: var.$background-color;
    }
}

@media (min-width: 450px) {
    footer {
        & > div {
            font-size: 1.8rem; 

            &:first-child {
                img {
                    height: 4.5rem;
                    margin-right: 1.2rem;
                }
            }

            h3 {
                font-size: 2.4rem;
            }
        }
    }
}

@media (min-width: 750px) {
    footer {
        & > div {
            font-size: 2.1rem;

            &:first-child {
                flex-direction: row;
                align-items: center;

                .hour-container {
                    text-align: start;
                }

                img {
                    height: 5rem;
                    margin-right: 1.4rem;
                }
            }

            h3 {
                font-size: 2.8rem;
                margin: 1.4rem 0;
            }
        }
    }
}

@media (min-width: 1050px) {
    footer {
        & > div {
            width: min(70%, 130rem);
        }

        & > .divider {
            width: min(70%, 135rem);
        }
    }
}

h1, h2 {
    font-family: var.$header-font;
}