@use 'var';

html {
    font-size: 62.5%;
}

body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: var.$main-font;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: #000;
    background-color: rgb(248, 242, 232);

    .logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            height: 4rem;
            margin: 2rem 0 0rem;
        }

        h1 {
            margin: 0;
            font-size: 3rem;
        }
    }

    nav {
        display: flex;
        gap: 3rem;
        font-size: 2.8rem;
        text-decoration: none;
        margin: 2rem 0;

        a {
            position: relative;
            text-decoration: none;
            color: inherit;

            &::after {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                height: 3px;
                width: 0;
                background-color: var.$second-color;
                border-radius: 5rem;
                transition: width .3s;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }
}

main {
    position: relative;
    display: flex;
    flex-grow: 100;

    .content-container {
        position: relative;
        display: flex;
    }

    .divider {
        width: 80%;
        height: 2px;
        background-color: var.$second-color;
    }
}

 footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-color: #000;

    & > div {
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 2rem 0;

        &:first-child {
            flex-direction: row;
            justify-content: space-between;

            img {
                height: 4.5rem;
                margin-right: 1rem;
                cursor: pointer;
            }
        }

        &:not(.hour-container) {
            align-items: center;
            font-size: 2rem;
        }

        &.hour-container {
            font-size: 1.8rem;
        }

        h3 {
            font-size: 2.4rem;
            margin: 1rem 0;
        }

        p {
            margin: .5rem 0;
        }
    }

    & > .divider {
        height: 1.5px;
        width: 80%;
        background-color: var.$background-color;
    }
 }

h1, h2 {
    font-family: var.$header-font;
}