@font-face {
    font-family: GraublauWeb;
    src: url("assets/fonts/spaced.otf") format("opentype");
}

:root {
    --main-color: rgb(6, 214, 255);
    --light-main: rgb(81, 218, 246);
    --dark-main: rgb(10, 159, 189);
    --main-shadow: 0 0 7px rgb(81, 218, 246),
        0 0 10px rgb(81, 218, 246),
        0 0 21px rgb(81, 218, 246),
        0 0 42px rgb(10, 159, 189),
        0 0 82px rgb(10, 159, 189),
        0 0 92px rgb(10, 159, 189),
        0 0 102px rgb(10, 159, 189),
        0 0 131px rgb(10, 159, 189);
}

html {
    font-size: 62.5%;
}

body {
    color: var(--main-color);
    background-color: #000;
    font-family: GraublauWeb, 'Courier New', Courier, monospace
}

.hidden {
    display: none !important;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 100vh;
}

h1 {
    font-size: 12rem;
    /* animation: flicker 2s infinite alternate;   */
    color: rgb(160, 229, 243);
    text-shadow: var(--main-shadow);
}

@keyframes flicker {
    100% {
        text-shadow:
        0 0 4px rgb(81, 218, 246),
        0 0 11px rgb(81, 218, 246),
        0 0 19px rgb(81, 218, 246),
        0 0 40px rgb(10, 159, 189),
        0 0 80px rgb(10, 159, 189),
        0 0 90px rgb(10, 159, 189),
        0 0 100px rgb(10, 159, 189),
        0 0 128px rgb(10, 159, 189);
    }

    80% {
        text-shadow:
            0 0 2px rgb(81, 218, 246),
            0 0 7px rgb(81, 218, 246),
            0 0 10px rgb(81, 218, 246),
            0 0 25px rgb(10, 159, 189),
            0 0 65px rgb(10, 159, 189),
            0 0 70px rgb(10, 159, 189),
            0 0 85px rgb(10, 159, 189),
            0 0 100px rgb(10, 159, 189);
    }

    0% {
        text-shadow:
            0 0 2px rgb(81, 218, 246),
            0 0 4px rgb(81, 218, 246),
            0 0 6px rgb(81, 218, 246),
            0 0 10px rgb(10, 159, 189),
            0 0 45px rgb(10, 159, 189),
            0 0 55px rgb(10, 159, 189),
            0 0 70px rgb(10, 159, 189),
            0 0 80px rgb(10, 159, 189);
    }
}

.start-game {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 80%;
    text-align: center;
}

.player-selection {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.player-selection > p {
    color: rgb(160, 229, 243);
    text-shadow: var(--main-shadow);
    font-size: 20rem;
    margin: 0;
}

.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 40%;
}

.player-container .type-selector {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.player-container input, .player-container button {
    margin: 0;
    padding: 1rem 2.5rem 2.5rem;
    background-color: transparent;
    color: rgb(160, 229, 243);
    font-size: 5rem;
    font-family: inherit;
    outline: none;
    border: 2px solid transparent;
    border-radius: 1.5rem;
}

.player-container input {
    width: 80%;
    text-align: center;
}

.player-container button {
    cursor: pointer;
}

.player-container input:focus, .player-container button:hover, .player-container button.selected {
    text-shadow: var(--main-shadow);
    border: 2px solid rgb(160, 229, 243);
    box-shadow: 0 0 5px rgb(6, 214, 255);
}

button.play {
    margin-top: 5rem;
    align-self: center;
    font-family: inherit;
    font-size: 5rem;
    padding: 1rem 5rem 2.5rem;
    background-color: transparent;
    color: rgb(160, 229, 243);
    border: 3px solid rgb(160, 229, 243);
    border-radius: 2rem;
    cursor: pointer;
}

button.play:hover {
    text-shadow: var(--main-shadow);
    box-shadow: 0 0 10px rgb(6, 214, 255);
}

.play-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.play-game > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    margin-bottom: 6rem;
}

.play-game h1 {
    font-size: 6rem;
}

.play-game button.restart {
    font-family: inherit;
    font-size: 5rem;
    padding: .5rem 3rem 2rem;
    background-color: transparent;
    color: rgb(160, 229, 243);
    border: 3px solid rgb(160, 229, 243);
    border-radius: 2rem;
}

.play-game button.restart:hover {
    text-shadow: var(--main-shadow);
    box-shadow: 0 0 10px rgb(6, 214, 255);
}

.play-game div.winner {
    background-color: pink;
}

.grid-layer {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    background-color: transparent;
    height: 15rem;
    width: 15rem;
    perspective: 1000px;
    perspective-origin: 63% 263%;
    transform: rotateX(30deg) skewX(33deg) skewY(-1deg);

    color: rgb(160, 229, 243);
    border: 3px solid rgb(160, 229, 243);
    box-shadow: 0 0 10px rgb(6, 214, 255);
}

.grid-layer div:not(:nth-child(3n)) {
    border-right: 3px solid rgb(160, 229, 243);
}

.grid-layer div:not(:nth-child(n + 7)) {
    border-bottom: 3px solid rgb(160, 229, 243);
}

.grid-layer div {
    position: relative;
    box-shadow: 0 0 20px rgb(6, 214, 255);
    cursor: pointer;
}

.grid-layer p {
    position: absolute;
    font-size: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.grid-layer div:hover {
    background-color: red;
}

/* .shadow {
    height: 15rem;
    width: 15rem;
    background-color: rgb(160, 229, 243);
    perspective: 1000px;
    perspective-origin: 63% 263%;
    transform: rotateX(30deg) skewX(33deg) skewY(-1deg);
} */

.player-svg {
    fill: white;
    margin-bottom: 2rem;
}

.user1 {
    filter: url(#green-glow);
    height: 20rem;
    width: 20rem;
}

.user2 {
    filter: url(#red-glow);
    height: 20rem;
    width: 20rem;
}

svg.init {
    display: none;
}

/****
    BACKGROUND SPACE
    AIRSHIP?
    BOUNCING GRIDS
    SCREEN TRANSITION SCALING
*****/