/* Webfont: Kaiven-Italic */@font-face {
    font-family: 'Kaiven';
    src: url('Kaiven-RegularRoundedItalic.eot'); /* IE9 Compat Modes */
    src: url('Kaiven-RegularRoundedItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Kaiven-RegularRoundedItalic.woff') format('woff'), /* Modern Browsers */
         url('Kaiven-RegularRoundedItalic.woff2') format('woff2'), /* Modern Browsers */
         url('Kaiven-RegularRoundedItalic.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

