/* Webfont: Kaiven-Regular */@font-face {
    font-family: 'Kaiven';
    src: url('Kaiven-RegularRounded.eot'); /* IE9 Compat Modes */
    src: url('Kaiven-RegularRounded.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Kaiven-RegularRounded.woff') format('woff'), /* Modern Browsers */
         url('Kaiven-RegularRounded.woff2') format('woff2'), /* Modern Browsers */
         url('Kaiven-RegularRounded.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

